@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-image {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: center;
}

.product-name-rating {
  font-family: 'Playfair Display', serif;
  color: rgb(12, 12, 75);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .product-name {
  margin: 3px 15px;
} */

.product-price-cart-cta {
  font-family: 'Playfair Display', serif;
  color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rec.rec-arrow {
  background-color: black;
  color: white;
}
